<log4net configSource="logging.config">

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="\App_Data\Logs\debug.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date][%-5level][thread:%thread] %message [%logger.%line]%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="INFO"/>
    </filter>
  </appender>


  <appender name="ERRORS" type="log4net.Appender.RollingFileAppender">
    <file value="\App_Data\Logs\error.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date][%-5level][thread:%thread] %message [%logger.%line]%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="ERROR"/>
    </filter>
  </appender>


  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date][%-5level][thread:%thread] %message [%logger.%line]%newline"/>
    </layout>
  </appender>


  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="atilla@tanrikulu.biz" />
    <from value="obserror@tanrikulu.biz" />
    <subject value="OBS-HATA" />
    <smtpHost value="smtp.gmail.com" />
    <authentication value="Basic" />
    <port value="587" />
    <username value="obserror@tanrikulu.biz" />
    <password value="AU2014*-" />
    <bufferSize value="1" />
    <EnableSsl value="true"/>
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>

  <root>
    <!-- priority value can be set to ALL|INFO|WARN|ERROR -->
    <appender-ref ref="ERRORS"/>
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
    <!--<appender-ref ref="SmtpAppender" />-->
  </root>
</log4net>