<?xml version="1.0" encoding="utf-8" ?>
<UsisConfig>
  <add key="environment.name" value="Development"/>
  <add key="app.name" value="USIS"/>
  <add key="log4net.config.path" value="Logging.config"/>
  <add key="schedule.config.path" value="Scheduler.${environment.name}.xml"/>
  <add key="cache.enable" value="true"/>
  <add key="master.schedule.job.servername" value="HP233"/>
  <add key="transcript.cache.enable" value="true"/>
  <add key="redis.address.cluster1" value="80.251.41.233:6379,abortConnect=false,ssl=false"/>
  <add key="redis.address.cluster2" value="80.251.40.232:6379,abortConnect=false,ssl=false"/>
  <add key="database.read.connectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=EXA;Integrated Security=True;Pooling=True"/>
  <add key="database.write.connectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=EXA;Integrated Security=True;Pooling=True"/>
  <add key="database.providername" value="System.Data.SqlClient"/>


</UsisConfig>
